@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@import 'style.css';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--Navy-Blue-Gradiant);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
/* fltter when opening the rules module */
.filtter {
  position: absolute;
  z-index: 999;
  background-color: #000;
  opacity: 0.6;
  visibility: hidden;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.filtter.show-it {
  visibility: visible;
}
.header {
  border: 2px solid var(--Header-Outline);
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-top: 32px;
}

.header .logo {
  margin-left: 18px;
}
.score-tag {
  font-weight: 600;
  color: var(--lime-green);
  font-size: 18px;
  display: block;
}
.display-score {
  margin-right: 18px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100px;
}
.score-tag {
  font-weight: 600;
  color: var(--lime-green);
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.score-number {
  font-weight: 600;
  color: var(--Dark-Text);
  font-size: 64px;
  display: block;
}
.main {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  position: relative;
}
.circle-inside {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 10px 2px #e1e4ed;
}
.Scissors {
  /* Lime-Green */
  border: 15px solid var(--lime-green);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #537f6c);
  border-radius: 100px;
  position: absolute;
  top: -60px;
  left: 90px;
}
.Paper {
  /* EggPLant */
  border: 15px solid var(--EggPLant);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #361121);
  border-radius: 100px;
  position: absolute;
  top: 60px;
  right: -40px;
}

.Rock {
  /* Light_Pinkish_Grey */
  border: 15px solid var(--Light_Pinkish_Grey);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #cb9c8f);
  border-radius: 100px;
  position: absolute;
  top: 230px;
  right: -10px;
}

.Spock {
  /* Dark-Orange */
  border: 15px solid var(--Dark-Orange);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #c24e33);
  border-radius: 100px;
  position: absolute;
  top: 60px;
  left: -40px;
}

.Lizard {
  /* Sandy-Yellow */
  border: 15px solid var(--Sandy-Yellow);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #e2b26d);
  border-radius: 100px;
  position: absolute;
  top: 230px;
  left: -10px;
}

.rule-btn {
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 40px;
  position: absolute;
  right: 18px;
  bottom: 18px;
}

/* ruel model  */
.modal-window {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}
.modal-window.open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  background-color: transparent;
}
.rules-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .bg-pentagon {
    width: 290px;
    height: 250px;
    viewbox: '0 0 290 250';
  }
  .header {
    width: 90vw;
    min-width: 300px;
  }
  .score-number {
    font-size: 48px;
  }
  .display-score {
    margin-right: 18px;
    padding: 0 20px;
  }
  .score-tag {
    font-size: 14px;
  }
  .circle-inside {
    width: 80px;
    height: 80px;
  }
  .main {
    margin-top: 90px;
  }
  .Scissors {
    top: -60px;
    left: 100px;
  }
  .Paper {
    top: 60px;
    right: -40px;
  }

  .Rock {
    top: 190px;
    right: 10px;
  }

  .Spock {
    top: 60px;
    left: -40px;
  }

  .Lizard {
    top: 190px;
    left: 10px;
  }
  .rule-btn {
    font-size: 12px;
    letter-spacing: 4px;
    padding: 10px 20px;
  }

  /* ruel model  */
  .modal-window {
    width: 300px;
    height: 400px;
  }
  .rules-img {
    width: 280px;
    height: 350px;
    viewbox: '0 0 290 300';
  }
}

/* Screens < 400px  */
@media (max-width: 400px) {
  .bg-pentagon {
    width: 200px;
    height: 180px;
    viewbox: '0 0 200 180';
  }
  .header {
    min-width: 250px;
  }
  .score-number {
    font-size: 32px;
  }
  .display-score {
    height: 90px;
    margin-right: 18px;
    padding: 0 10px;
  }
  .score-tag {
    font-size: 12px;
  }
  .circle-inside {
    width: 50px;
    height: 50px;
  }
  .main {
    margin-top: 90px;
    width: 200px;
  }
  .Scissors {
    top: -50px;
    left: 60px;
  }
  .scissors-icon {
    width: 30px;
    height: 40px;
    viewbox: '0 0 30 40';
  }
  .Paper {
    top: 40px;
    right: -20px;
  }
  .paper-icon {
    width: 30px;
    height: 40px;
    viewbox: '0 0 30 40';
  }

  .Rock {
    top: 140px;
    right: 10px;
  }
  .rock-icon {
    width: 30px;
    height: 40px;
    viewbox: '0 0 30 40';
  }

  .Spock {
    top: 40px;
    left: -20px;
  }
  .spock-icon {
    width: 30px;
    height: 40px;
    viewbox: '0 0 30 40';
  }
  .spock-icon {
    width: 30px;
    height: 40px;
    viewbox: '0 0 30 40';
  }

  .Lizard {
    top: 140px;
    left: 10px;
  }
  .lizard-icon {
    width: 30px;
    height: 40px;
    viewbox: '0 0 30 40';
  }

  /* ruel model  */
  .modal-window {
    width: 250px;
    height: 350px;
  }
  .rules-img {
    width: 240px;
    height: 270px;
    viewbox: '0 0 240 270';
  }
}
