@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@import 'style.css';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--Navy-Blue-Gradiant);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.header {
  border: 2px solid var(--Header-Outline);
  border-radius: 20px;
  margin-top: 32px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
}

.header .logo {
  margin-left: 18px;
}
.score-tag {
  font-weight: 600;
  color: var(--lime-green);
  font-size: 18px;
  display: block;
}
.display-score {
  margin-right: 18px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.score-tag {
  font-weight: 600;
  color: var(--lime-green);
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.score-number {
  font-weight: 600;
  color: var(--Dark-Text);
  font-size: 64px;
  display: block;
}
.main {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  position: relative;
}
.circle-inside {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 10px 2px #e1e4ed;
}
.Scissors {
  /* Lime-Green */
  border: 15px solid var(--lime-green);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #537f6c);
  border-radius: 100px;
  position: absolute;
  top: -60px;
  left: 270px;
}
.Paper {
  /* EggPLant */
  border: 15px solid var(--EggPLant);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #361121);
  border-radius: 100px;
  position: absolute;
  top: 60px;
  right: 130px;
}

.Rock {
  /* Light_Pinkish_Grey */
  border: 15px solid var(--Light_Pinkish_Grey);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #cb9c8f);
  border-radius: 100px;
  position: absolute;
  top: 60px;
  left: 130px;
}

.Spock {
  /* Dark-Orange */
  border: 15px solid var(--Dark-Orange);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #c24e33);
  border-radius: 100px;
  position: absolute;
  top: 230px;
  left: 160px;
}

.Lizard {
  /* Sandy-Yellow */
  border: 15px solid var(--Sandy-Yellow);
  box-sizing: border-box;
  filter: drop-shadow(0px 8px 0px #e2b26d);
  border-radius: 100px;
  position: absolute;
  top: 230px;
  right: 160px;
}

/* footer  */
.footer {
  margin: 0;
  width: 100vw;
  padding: 20px 0;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rules {
  margin-right: 32px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 40px;
}
