::root {
  /* Neutral */

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  /* Background */

  --Navy-Blue-Gradiant: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  /* circle colors  */

  --lime-green: #75a791;
  --Dark-Orange: #dd7057;
  --Light_Pinkish_Grey: #efbaac;
  --EggPLant: #6f4c5b;
  --Sandy-Yellow: #efd1a6;
}
